<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Playground — Complete Intro to Vue 3</title>
	</head>
	<body>
		<h1>Hello Playground</h1>
		<div id="app">
			<h1>{{ counter }}</h1>
			<p>{{ count }}</p>
			<input type="button" value="Count" @click="incrementCount(5, $event)" />
      <h1>{{ addBy }}</h1>
      <p>{{ optimizedAddBy }}</p>
			<div>
				<label for="addBy">Increment by:</label>
				<input type="number" v-model="addBy"/>
			</div>

			<hr />
			<!-- ! exercise 1 -->
			<p v-if="message.length % 2 === 0">Even: {{ message.toUpperCase() }}</p>
			<p v-else>Odd : {{ message }}</p>
			<ul>
				<li v-for="val in listOfNumbs">
					{{ val.name }}
					<ul>
						<li v-for="num in val.list">{{num}}</li>
					</ul>
				</li>
			</ul>
		</div>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script>
			const { createApp } = Vue;

			const app = createApp({
				
			});
			app.mount("#app");
		</script>
	</body>
</html>
